<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>C++基础</title>
    <style type="text/css">
      .underline {
        text-decoration: underline;
      }
    </style>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reveal.js@3/css/reveal.css"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/reveal.js@3/css/theme/black.css"
      id="theme"
    />

    <!-- If the query includes 'print-pdf', include the PDF print sheet -->
    <script>
      if (window.location.search.match(/print-pdf/gi)) {
        var link = document.createElement("link");
        link.rel = "stylesheet";
        link.type = "text/css";
        link.href =
          "https://cdn.jsdelivr.net/npm/reveal.js@3/css/print/pdf.css";
        document.getElementsByTagName("head")[0].appendChild(link);
      }
    </script>
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        <section id="sec-title-slide">
          <h1 class="title">C++基础</h1>
          <p class="date">Created: 2019-11-13 三 16:41</p>
        </section>
        <section id="table-of-contents-section">
          <div id="table-of-contents">
            <h2>Table of Contents</h2>
            <div id="text-table-of-contents">
              <ul>
                <li>
                  <a href="#/slide-1">1. IO(输入输出)</a>
                  <ul>
                    <li><a href="#/slide-1-1">1.1. Hello World</a></li>
                    <li><a href="#/slide-1-2">1.2. scanf&amp;printf</a></li>
                    <li><a href="#/slide-1-3">1.3. 常用占位符</a></li>
                    <li><a href="#/slide-1-4">1.4. cin&amp;cout</a></li>
                    <li><a href="#/slide-1-5">1.5. Hello World - c++版</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#/slide-2">2. 变量</a>
                  <ul>
                    <li><a href="#/slide-2-1">2.1. C 常用类型</a></li>
                    <li><a href="#/slide-2-2">2.2. 使用方法</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#/slide-3">3. 练习 1</a>
                  <ul>
                    <li><a href="#/slide-3-1">3.1. 题解</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#/slide-4">4. 选择</a>
                  <ul>
                    <li><a href="#/slide-4-1">4.1. if</a></li>
                    <li><a href="#/slide-4-2">4.2. switch</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#/slide-5">5. 循环</a>
                  <ul>
                    <li><a href="#/slide-5-1">5.1. while</a></li>
                    <li><a href="#/slide-5-2">5.2. for</a></li>
                    <li><a href="#/slide-5-3">5.3. continue</a></li>
                    <li><a href="#/slide-5-4">5.4. break</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#/slide-6">6. 练习 2</a>
                  <ul>
                    <li><a href="#/slide-6-1">6.1. 题解</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#/slide-7">7. 数组</a>
                  <ul>
                    <li><a href="#/slide-7-1">7.1. 定义</a></li>
                    <li><a href="#/slide-7-2">7.2. 多维数组</a></li>
                    <li><a href="#/slide-7-3">7.3. 例题</a></li>
                  </ul>
                </li>
                <li><a href="#/slide-8">8. 函数</a></li>
                <li><a href="#/slide-9">9. 结构体</a></li>
              </ul>
            </div>
          </div>
        </section>
        <section>
          <section id="slide-1">
            <h2 id="1"><span class="section-number-2">1</span> IO(输入输出)</h2>
            <div class="outline-text-2" id="text-1"></div>
          </section>
          <section id="slide-1-1">
            <h3 id="1-1">
              <span class="section-number-3">1.1</span> Hello World
            </h3>
            <div class="org-src-container">
              <pre
                class="src src-c"
              ><span style="color: #51afef; font-weight: bold;">#include</span> <span style="color: #51afef;">&lt;</span><span style="color: #98be65;">stdio.h</span><span style="color: #51afef;">&gt;</span>

<span style="color: #ECBE7B;">int</span> <span style="color: #c678dd;">main</span><span style="color: #51afef;">()</span> <span style="color: #51afef;">{</span>
    printf<span style="color: #c678dd;">(</span><span style="color: #98be65;">"Hello, World\n"</span><span style="color: #c678dd;">)</span>;
    <span style="color: #51afef;">return</span> <span style="color: #da8548; font-weight: bold;">0</span>;
<span style="color: #51afef;">}</span>
</pre>
            </div>
          </section>
          <section id="slide-1-2">
            <h3 id="1-2">
              <span class="section-number-3">1.2</span> scanf&amp;printf
            </h3>
            <div class="org-src-container">
              <pre
                class="src src-c"
              ><span style="color: #5B6268;">// </span><span style="color: #5B6268;">&#21464;&#37327;&#24517;&#39035;&#26126;&#30830;&#25351;&#23450;&#31867;&#22411;</span>
<span style="color: #5B6268;">// </span><span style="color: #5B6268;">&#22836;&#25991;&#20214;&#20026; stdio.h&#25110; cstdio</span>
<span style="color: #c678dd;">scanf</span><span style="color: #51afef;">(</span>&#27169;&#26495;&#23383;&#31526;&#20018;, &amp;&#35201;&#36755;&#20837;&#30340;&#21464;&#37327;<span style="color: #51afef;">)</span>;
<span style="color: #c678dd;">printf</span><span style="color: #51afef;">(</span>&#27169;&#26495;&#23383;&#31526;&#20018;, &#35201;&#36755;&#20986;&#30340;&#21464;&#37327;<span style="color: #51afef;">)</span>;
</pre>
            </div>
          </section>
          <section id="slide-1-3">
            <h3 id="1-3">
              <span class="section-number-3">1.3</span> 常用占位符
            </h3>
            <table
              border="2"
              cellspacing="0"
              cellpadding="6"
              rules="groups"
              frame="hsides"
            >
              <colgroup>
                <col class="org-left" />

                <col class="org-left" />
              </colgroup>
              <thead>
                <tr>
                  <th scope="col" class="org-left">占位符</th>
                  <th scope="col" class="org-left">作用</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="org-left">%d</td>
                  <td class="org-left">整数</td>
                </tr>

                <tr>
                  <td class="org-left">%c</td>
                  <td class="org-left">单个字符</td>
                </tr>

                <tr>
                  <td class="org-left">%f</td>
                  <td class="org-left">小数</td>
                </tr>

                <tr>
                  <td class="org-left">%s</td>
                  <td class="org-left">字符串</td>
                </tr>
              </tbody>
            </table>
          </section>
          <section id="slide-1-4">
            <h3 id="1-4">
              <span class="section-number-3">1.4</span> cin&amp;cout
            </h3>
            <div class="org-src-container">
              <pre
                class="src src-c"
              ><span style="color: #5B6268;">// </span><span style="color: #5B6268;">&#33258;&#21160;&#21305;&#37197;&#21464;&#37327;&#31867;&#22411;</span>
<span style="color: #5B6268;">// </span><span style="color: #5B6268;">&#22836;&#25991;&#20214;&#20026; iostream</span>
<span style="color: #5B6268;">// </span><span style="color: #5B6268;">cin &lt;&lt; &#23383;&#31526;&#20018;&#25110;&#35201;&#36755;&#20986;&#30340;&#21464;&#37327; &lt;&lt; &#21487;&#20197;&#26377;&#22810;&#20010;&#23567;&#20110;&#21495;;</span>
<span style="color: #5B6268;">// </span><span style="color: #5B6268;">cout &gt;&gt; &#35201;&#36755;&#20837;&#30340;&#21464;&#37327; &gt;&gt; &#21487;&#20197;&#25509;&#22810;&#20010;;</span>
<span style="color: #ECBE7B;">int</span> <span style="color: #dcaeea;">a</span>, <span style="color: #dcaeea;">b</span>;
cin &gt;&gt; a &gt;&gt; b;
cout &lt;&lt; <span style="color: #98be65;">"a+b= "</span> &lt;&lt; a + b &lt;&lt; endl;
</pre>
            </div>
          </section>
          <section id="slide-1-5">
            <h3 id="1-5">
              <span class="section-number-3">1.5</span> Hello World - c++版
            </h3>
            <div class="org-src-container">
              <pre
                class="src src-c++"
              ><span style="color: #51afef; font-weight: bold;">#include</span> <span style="color: #51afef;">&lt;</span><span style="color: #98be65;">iostream</span><span style="color: #51afef;">&gt;</span>

<span style="color: #51afef;">using</span> <span style="color: #51afef;">namespace</span> <span style="color: #a9a1e1;">std</span>;

<span style="color: #ECBE7B;">int</span> <span style="color: #c678dd;">main</span><span style="color: #51afef;">()</span> <span style="color: #51afef;">{</span>
    cout &lt;&lt; <span style="color: #98be65;">"Hello, World"</span> &lt;&lt; endl; <span style="color: #5B6268;">// </span><span style="color: #5B6268;">endl&#20026;&#25442;&#34892;</span>
    <span style="color: #51afef;">return</span> <span style="color: #da8548; font-weight: bold;">0</span>;
<span style="color: #51afef;">}</span>
</pre>
            </div>
          </section>
        </section>
        <section>
          <section id="slide-2">
            <h2 id="2"><span class="section-number-2">2</span> 变量</h2>
            <div class="outline-text-2" id="text-2"></div>
          </section>
          <section id="slide-2-1">
            <h3 id="2-1">
              <span class="section-number-3">2.1</span> C 常用类型
            </h3>
            <table
              border="2"
              cellspacing="0"
              cellpadding="6"
              rules="groups"
              frame="hsides"
            >
              <colgroup>
                <col class="org-left" />

                <col class="org-right" />
              </colgroup>
              <tbody>
                <tr>
                  <td class="org-left">类型</td>
                  <td class="org-right">字节数</td>
                </tr>

                <tr>
                  <td class="org-left">char</td>
                  <td class="org-right">1</td>
                </tr>

                <tr>
                  <td class="org-left">int</td>
                  <td class="org-right">2</td>
                </tr>

                <tr>
                  <td class="org-left">long</td>
                  <td class="org-right">4</td>
                </tr>

                <tr>
                  <td class="org-left">float</td>
                  <td class="org-right">4</td>
                </tr>

                <tr>
                  <td class="org-left">double</td>
                  <td class="org-right">8</td>
                </tr>
              </tbody>
            </table>
          </section>
          <section id="slide-2-2">
            <h3 id="2-2"><span class="section-number-3">2.2</span> 使用方法</h3>
            <div class="org-src-container">
              <pre
                class="src src-c++"
              ><span style="color: #5B6268;">// </span><span style="color: #5B6268;">&#21464;&#37327;&#30003;&#26126;&#65306;&#31867;&#22411; + &#21517;&#23383;</span>
<span style="color: #5B6268;">// </span><span style="color: #5B6268;">&#21517;&#23383;&#21482;&#33021;&#29992;&#23383;&#27597;&#21644;_&#24320;&#22836;&#65292;&#19981;&#33021;&#21644;&#20854;&#23427;&#21517;&#23383;&#37325;&#21517;</span>
<span style="color: #ECBE7B;">int</span> <span style="color: #dcaeea;">a</span>; <span style="color: #5B6268;">// </span><span style="color: #5B6268;">&#30003;&#26126;&#20102;&#19968;&#20010;&#25972;&#25968;&#21464;&#37327;a</span>
<span style="color: #ECBE7B;">char</span> <span style="color: #dcaeea;">c</span> = <span style="color: #98be65;">'w'</span>; <span style="color: #5B6268;">// </span><span style="color: #5B6268;">&#30003;&#26126;&#20102;&#19968;&#20010;&#23383;&#31526;&#21464;&#37327; c &#24182;&#36171;&#20540;&#20102;&#19968;&#20010;&#23383;&#31526;w</span>
</pre>
            </div>
          </section>
        </section>
        <section>
          <section id="slide-3">
            <h2 id="3"><span class="section-number-2">3</span> 练习 1</h2>
            <p>输入一个二次方程的 a, b, c，输出 b<sup>2</sup> - 4ac</p>
          </section>
          <section id="slide-3-1">
            <h3 id="3-1"><span class="section-number-3">3.1</span> 题解</h3>
            <div class="org-src-container">
              <pre
                class="src src-c++"
              ><span style="color: #51afef; font-weight: bold;">#include</span> <span style="color: #51afef;">&lt;</span><span style="color: #98be65;">iostream</span><span style="color: #51afef;">&gt;</span>

<span style="color: #51afef;">using</span> <span style="color: #51afef;">namespace</span> <span style="color: #a9a1e1;">std</span>;

<span style="color: #ECBE7B;">int</span> <span style="color: #c678dd;">main</span><span style="color: #51afef;">()</span> <span style="color: #51afef;">{</span>
    <span style="color: #ECBE7B;">float</span> <span style="color: #dcaeea;">a</span>, <span style="color: #dcaeea;">b</span>;
    cin &gt;&gt; a &gt;&gt; b;
    cout &lt;&lt; b * b - <span style="color: #da8548; font-weight: bold;">4</span> * a * c &lt;&lt; endl;
    <span style="color: #51afef;">return</span> <span style="color: #da8548; font-weight: bold;">0</span>;
<span style="color: #51afef;">}</span>
</pre>
            </div>
          </section>
        </section>
        <section>
          <section id="slide-4">
            <h2 id="4"><span class="section-number-2">4</span> 选择</h2>
            <div class="outline-text-2" id="text-4"></div>
          </section>
          <section id="slide-4-1">
            <h3 id="4-1"><span class="section-number-3">4.1</span> if</h3>
            <div class="org-src-container">
              <pre
                class="src src-c++"
              ><span style="color: #5B6268;">// </span><span style="color: #5B6268;">if (&#35821;&#21477;)</span>
<span style="color: #5B6268;">//   </span><span style="color: #5B6268;">&#22914;&#26524;&#35821;&#21477;&#36820;&#22238;&#20540;&#19981;&#20026;0&#25191;&#34892;&#36825;&#37324;</span>
<span style="color: #5B6268;">// </span><span style="color: #5B6268;">else</span>
<span style="color: #5B6268;">//   </span><span style="color: #5B6268;">&#22914;&#26524;&#35821;&#21477;&#36820;&#22238;&#20540;&#20026;0&#25191;&#34892;&#36825;&#37324;</span>

<span style="color: #51afef;">if</span> <span style="color: #51afef;">(</span><span style="color: #da8548; font-weight: bold;">1</span><span style="color: #51afef;">)</span>
    cout &lt;&lt; <span style="color: #98be65;">"&#25191;&#34892;&#36825;&#37324;"</span> &lt;&lt; endl;
<span style="color: #51afef;">else</span>
    cout &lt;&lt; <span style="color: #98be65;">"&#19981;&#20250;&#25191;&#34892;&#36825;&#37324;"</span> &lt;&lt; endl;

<span style="color: #51afef;">if</span> <span style="color: #51afef;">(</span><span style="color: #da8548; font-weight: bold;">0</span><span style="color: #51afef;">)</span>
    cout &lt;&lt; <span style="color: #98be65;">"&#19981;&#25191;&#34892;&#36825;&#37324;"</span> &lt;&lt; endl;
<span style="color: #51afef;">else</span>
    cout &lt;&lt; <span style="color: #98be65;">"&#25191;&#34892;&#36825;&#37324;"</span> &lt;&lt; endl;

<span style="color: #51afef;">if</span> <span style="color: #51afef;">(</span><span style="color: #da8548; font-weight: bold;">1</span> == <span style="color: #da8548; font-weight: bold;">1</span><span style="color: #51afef;">)</span>
    cout &lt;&lt; <span style="color: #98be65;">"&#24403;&#28982;&#20102;"</span> &lt;&lt; endl;
<span style="color: #51afef;">else</span>
    cout &lt;&lt; <span style="color: #98be65;">"&#19981;&#21487;&#33021;"</span> &lt;&lt; endl;
</pre>
            </div>
          </section>
          <section id="slide-4-2">
            <h3 id="4-2"><span class="section-number-3">4.2</span> switch</h3>
            <div class="org-src-container">
              <pre
                class="src src-c++"
              ><span style="color: #51afef;">switch</span><span style="color: #51afef;">(</span><span style="color: #da8548; font-weight: bold;">1</span><span style="color: #51afef;">)</span> <span style="color: #51afef;">{</span>  <span style="color: #5B6268;">// </span><span style="color: #5B6268;">&#26681;&#25454;&#25324;&#21495;&#20869;&#30340;&#20540;&#21305;&#37197;&#19979;&#21015;&#30340;case&#35821;&#21477;</span>
    <span style="color: #51afef;">case</span> <span style="color: #da8548; font-weight: bold;">1</span>:
        cout &lt;&lt; <span style="color: #98be65;">"&#20250;&#36755;&#20986;&#36825;&#21477;&#35805;"</span> &lt;&lt; endl;
        <span style="color: #51afef;">break</span>;  <span style="color: #5B6268;">// </span><span style="color: #5B6268;">&#22914;&#26524;&#19981;&#21152;break&#20250;&#32487;&#32493;&#25191;&#34892;&#19979;&#38754;&#30340;&#35821;&#21477;</span>
    <span style="color: #51afef;">case</span> <span style="color: #da8548; font-weight: bold;">2</span>:
        cout &lt;&lt; <span style="color: #98be65;">"&#19981;&#20250;&#25191;&#34892;"</span> &lt;&lt; endl;
        <span style="color: #51afef;">break</span>;
    <span style="color: #51afef;">case</span> <span style="color: #da8548; font-weight: bold;">3</span>:
        cout &lt;&lt; <span style="color: #98be65;">"&#19981;&#20250;&#25191;&#34892;"</span> &lt;&lt; endl;
        <span style="color: #51afef;">break</span>;
    <span style="color: #51afef;">default</span>: cout &lt;&lt; <span style="color: #98be65;">"&#20840;&#37117;&#19981;&#21305;&#37197;&#25165;&#25191;&#34892;&#36825;&#37324;"</span> &lt;&lt; endl;
<span style="color: #51afef;">}</span>
</pre>
            </div>
          </section>
        </section>
        <section>
          <section id="slide-5">
            <h2 id="5"><span class="section-number-2">5</span> 循环</h2>
            <div class="outline-text-2" id="text-5"></div>
          </section>
          <section id="slide-5-1">
            <h3 id="5-1"><span class="section-number-3">5.1</span> while</h3>
            <div class="org-src-container">
              <pre
                class="src src-c++"
              ><span style="color: #51afef;">while</span><span style="color: #51afef;">(</span><span style="color: #da8548; font-weight: bold;">1</span><span style="color: #51afef;">)</span> <span style="color: #51afef;">{</span>
    cout &lt;&lt; <span style="color: #98be65;">"&#25191;&#34892;&#26412;&#21477;&#30452;&#21040;&#25324;&#21495;&#20869;&#30340;&#20540;&#20026;0"</span> &lt;&lt; endl;
<span style="color: #51afef;">}</span>

<span style="color: #5B6268;">// </span><span style="color: #5B6268;">&#20174;10&#36755;&#20986;&#21040;1</span>
<span style="color: #ECBE7B;">int</span> <span style="color: #dcaeea;">a</span> = <span style="color: #da8548; font-weight: bold;">10</span>;
<span style="color: #51afef;">while</span> <span style="color: #51afef;">(</span>a &gt; <span style="color: #da8548; font-weight: bold;">0</span><span style="color: #51afef;">)</span> <span style="color: #51afef;">{</span>
    cout &lt;&lt; a &lt;&lt; endl;
    a--;
<span style="color: #51afef;">}</span>
</pre>
            </div>
          </section>
          <section id="slide-5-2">
            <h3 id="5-2"><span class="section-number-3">5.2</span> for</h3>
            <div class="org-src-container">
              <pre
                class="src src-c++"
              ><span style="color: #5B6268;">// </span><span style="color: #5B6268;">for(&#21021;&#22987;&#21270;;&#36820;&#22238;&#20540;&#20026;0&#32467;&#26463;&#21542;&#21017;&#32487;&#32493;;&#27599;&#27425;&#25191;&#34892;&#24490;&#29615;&#20307;&#32467;&#26463;&#21518;&#25191;&#34892;&#30340;&#35821;&#21477;)</span>
<span style="color: #5B6268;">//     </span><span style="color: #5B6268;">&#24490;&#29615;&#20307;</span>

<span style="color: #5B6268;">// </span><span style="color: #5B6268;">&#20174;0&#36755;&#20986;&#21040;9</span>
<span style="color: #51afef;">for</span> <span style="color: #51afef;">(</span><span style="color: #ECBE7B;">int</span> <span style="color: #dcaeea;">i</span> = <span style="color: #da8548; font-weight: bold;">0</span>; i &lt; <span style="color: #da8548; font-weight: bold;">10</span>; i++<span style="color: #51afef;">)</span>
    cout &lt;&lt; i &lt;&lt; endl;
</pre>
            </div>
          </section>
          <section id="slide-5-3">
            <h3 id="5-3"><span class="section-number-3">5.3</span> continue</h3>
            <div class="org-src-container">
              <pre
                class="src src-c++"
              ><span style="color: #5B6268;">// </span><span style="color: #5B6268;">continue&#30340;&#24847;&#24605;&#26159;&#20572;&#27490;&#26412;&#27425;&#24490;&#29615;&#65292;&#30452;&#25509;&#36827;&#34892;&#19979;&#19968;&#27425;&#24490;&#29615;</span>

<span style="color: #5B6268;">// </span><span style="color: #5B6268;">&#36755;&#20986;0&#33267;10&#30340;&#22855;&#25968;</span>
<span style="color: #51afef;">for</span> <span style="color: #51afef;">(</span><span style="color: #ECBE7B;">int</span> <span style="color: #dcaeea;">i</span> = <span style="color: #da8548; font-weight: bold;">0</span>; i &lt; <span style="color: #da8548; font-weight: bold;">10</span>; i++<span style="color: #51afef;">)</span>
    <span style="color: #51afef;">if</span> <span style="color: #51afef;">(</span>i % <span style="color: #da8548; font-weight: bold;">2</span><span style="color: #51afef;">)</span>
        cout &lt;&lt; i &lt;&lt; endl;
    <span style="color: #51afef;">else</span>
        <span style="color: #51afef;">continue</span>;
</pre>
            </div>
          </section>
          <section id="slide-5-4">
            <h3 id="5-4"><span class="section-number-3">5.4</span> break</h3>
            <div class="org-src-container">
              <pre
                class="src src-c++"
              ><span style="color: #5B6268;">// </span><span style="color: #5B6268;">break&#30340;&#24847;&#24605;&#26159;&#36339;&#20986;&#25972;&#20010;&#24490;&#29615;</span>

<span style="color: #5B6268;">// </span><span style="color: #5B6268;">&#36755;&#20986;0-10&#30340;&#31532;&#19968;&#20010;&#22855;&#25968;</span>
<span style="color: #51afef;">for</span> <span style="color: #51afef;">(</span><span style="color: #ECBE7B;">int</span> <span style="color: #dcaeea;">i</span> = <span style="color: #da8548; font-weight: bold;">0</span>; i &lt; <span style="color: #da8548; font-weight: bold;">10</span>; i++<span style="color: #51afef;">)</span>
    <span style="color: #51afef;">if</span> <span style="color: #51afef;">(</span>i % <span style="color: #da8548; font-weight: bold;">2</span><span style="color: #51afef;">)</span>
        cout &lt;&lt; i &lt;&lt; endl;
    <span style="color: #51afef;">else</span>
        <span style="color: #51afef;">break</span>;
</pre>
            </div>
          </section>
        </section>
        <section>
          <section id="slide-6">
            <h2 id="6"><span class="section-number-2">6</span> 练习 2</h2>
            <p>
              输入一个数 n，输出 n!
            </p>
          </section>
          <section id="slide-6-1">
            <h3 id="6-1"><span class="section-number-3">6.1</span> 题解</h3>
            <div class="org-src-container">
              <pre
                class="src src-c++"
              ><span style="color: #51afef; font-weight: bold;">#include</span> <span style="color: #51afef;">&lt;</span><span style="color: #98be65;">iostream</span><span style="color: #51afef;">&gt;</span>

<span style="color: #51afef;">using</span> <span style="color: #51afef;">namespace</span> <span style="color: #a9a1e1;">std</span>;

<span style="color: #ECBE7B;">int</span> <span style="color: #c678dd;">main</span><span style="color: #51afef;">()</span> <span style="color: #51afef;">{</span>
    <span style="color: #ECBE7B;">int</span> <span style="color: #dcaeea;">n</span>;
    cin &gt;&gt; n;
    <span style="color: #ECBE7B;">long</span> <span style="color: #dcaeea;">tot</span> = <span style="color: #da8548; font-weight: bold;">1</span>;
    <span style="color: #51afef;">for</span> <span style="color: #c678dd;">(</span><span style="color: #ECBE7B;">int</span> <span style="color: #dcaeea;">i</span> = <span style="color: #da8548; font-weight: bold;">1</span>; i &lt;= n; i++<span style="color: #c678dd;">)</span>
        tot *= i;
    cout &lt;&lt; tot &lt;&lt; endl;
    <span style="color: #51afef;">return</span> <span style="color: #da8548; font-weight: bold;">0</span>;
<span style="color: #51afef;">}</span>
</pre>
            </div>
          </section>
        </section>
        <section>
          <section id="slide-7">
            <h2 id="7"><span class="section-number-2">7</span> 数组</h2>
            <div class="outline-text-2" id="text-7"></div>
          </section>
          <section id="slide-7-1">
            <h3 id="7-1"><span class="section-number-3">7.1</span> 定义</h3>
            <div class="org-src-container">
              <pre
                class="src src-c++"
              ><span style="color: #5B6268;">// </span><span style="color: #5B6268;">&#31867;&#22411;&#21517; &#25968;&#32452;&#21517;[&#25968;&#32452;&#38271;&#24230;]</span>
<span style="color: #ECBE7B;">int</span> <span style="color: #dcaeea;">a</span><span style="color: #51afef;">[</span><span style="color: #da8548; font-weight: bold;">10</span><span style="color: #51afef;">]</span>; <span style="color: #5B6268;">// </span><span style="color: #5B6268;">&#23450;&#20041;&#20102;&#19968;&#20010;&#38271;&#24230;&#20026;10&#30340;&#25972;&#22411;&#25968;&#32452;a</span>

<span style="color: #5B6268;">// </span><span style="color: #5B6268;">&#36890;&#36807; &#25968;&#32452;&#21517;[&#19979;&#26631;] &#30340;&#26041;&#24335;&#25214;&#21040;&#31532; &#19979;&#26631;+1 &#20010;&#20803;&#32032;</span>
<span style="color: #5B6268;">// </span><span style="color: #5B6268;">&#21644;&#21464;&#37327;&#30340;&#20351;&#29992;&#26041;&#27861;&#19968;&#26679;</span>
a<span style="color: #51afef;">[</span><span style="color: #da8548; font-weight: bold;">0</span><span style="color: #51afef;">]</span> = <span style="color: #da8548; font-weight: bold;">0</span>; <span style="color: #5B6268;">// </span><span style="color: #5B6268;">&#32473;a&#25968;&#32452;&#30340;&#31532;&#19968;&#20010;&#20803;&#32032;&#36171;&#20540;0</span>
</pre>
            </div>
          </section>
          <section id="slide-7-2">
            <h3 id="7-2"><span class="section-number-3">7.2</span> 多维数组</h3>
            <div class="org-src-container">
              <pre
                class="src src-c++"
              ><span style="color: #5B6268;">// </span><span style="color: #5B6268;">&#26377;&#20960;&#20010;[]&#23601;&#26377;&#22810;&#23569;&#20010;&#32500;&#24230;</span>
<span style="color: #ECBE7B;">int</span> <span style="color: #dcaeea;">a</span><span style="color: #51afef;">[</span><span style="color: #da8548; font-weight: bold;">10</span><span style="color: #51afef;">][</span><span style="color: #da8548; font-weight: bold;">2</span><span style="color: #51afef;">][</span><span style="color: #da8548; font-weight: bold;">3</span><span style="color: #51afef;">]</span>;  <span style="color: #5B6268;">// </span><span style="color: #5B6268;">&#22768;&#26126;&#20102;&#19968;&#20010;&#19977;&#32500;&#30340;&#25968;&#32452;&#65292;&#24635;&#20849;&#26377; 10 * 2 * 3 &#20010;&#20803;&#32032;</span>
                <span style="color: #5B6268;">// </span><span style="color: #5B6268;">&#21487;&#20197;&#29702;&#35299;&#25104;&#26377;&#27599;&#20010;&#19977;&#32500;&#25968;&#32452;&#37324;&#26377;2&#20010;&#20108;&#32500;&#25968;&#32452;&#65292;&#27599;&#20010;&#20108;&#32500;&#25968;&#32452;&#37324;&#26377;3&#20010;&#19968;&#32500;&#25968;&#32452;</span>
a<span style="color: #51afef;">[</span><span style="color: #da8548; font-weight: bold;">0</span><span style="color: #51afef;">][</span><span style="color: #da8548; font-weight: bold;">1</span><span style="color: #51afef;">][</span><span style="color: #da8548; font-weight: bold;">2</span><span style="color: #51afef;">]</span> = <span style="color: #da8548; font-weight: bold;">1</span>; <span style="color: #5B6268;">// </span><span style="color: #5B6268;">&#19968;&#26679;&#21487;&#20197;&#36890;&#36807;&#19979;&#26631;&#25214;&#21040;&#23545;&#24212;&#30340;&#20803;&#32032;</span>
</pre>
            </div>
          </section>
          <section id="slide-7-3">
            <h3 id="7-3"><span class="section-number-3">7.3</span> 例题</h3>
            <p>
              输入一个字符串，把字符串逆序输出
            </p>
            <div class="org-src-container">
              <pre
                class="src src-c++"
              ><span style="color: #51afef; font-weight: bold;">#include</span> <span style="color: #51afef;">&lt;</span><span style="color: #98be65;">iostream</span><span style="color: #51afef;">&gt;</span>

<span style="color: #51afef;">using</span> <span style="color: #51afef;">namespace</span> <span style="color: #a9a1e1;">std</span>;

<span style="color: #ECBE7B;">int</span> <span style="color: #c678dd;">main</span><span style="color: #51afef;">()</span> <span style="color: #51afef;">{</span>
    <span style="color: #ECBE7B;">int</span> <span style="color: #dcaeea;">len</span> = <span style="color: #da8548; font-weight: bold;">0</span>;
    cin &gt;&gt; len;
    <span style="color: #ECBE7B;">char</span> <span style="color: #dcaeea;">s</span><span style="color: #c678dd;">[</span>len<span style="color: #c678dd;">]</span>;
    <span style="color: #51afef;">for</span> <span style="color: #c678dd;">(</span><span style="color: #ECBE7B;">int</span> <span style="color: #dcaeea;">i</span> = <span style="color: #da8548; font-weight: bold;">0</span>; i &lt; len; i++<span style="color: #c678dd;">)</span>
        cin &gt;&gt; s<span style="color: #c678dd;">[</span>i<span style="color: #c678dd;">]</span>;
    <span style="color: #51afef;">for</span> <span style="color: #c678dd;">(</span><span style="color: #ECBE7B;">int</span> <span style="color: #dcaeea;">i</span> = len - <span style="color: #da8548; font-weight: bold;">1</span>; i &gt;= <span style="color: #da8548; font-weight: bold;">0</span>; i--<span style="color: #c678dd;">)</span>
        cout &lt;&lt; s<span style="color: #c678dd;">[</span>i<span style="color: #c678dd;">]</span>;
    cout &lt;&lt; endl;
    <span style="color: #51afef;">return</span> <span style="color: #da8548; font-weight: bold;">0</span>;
<span style="color: #51afef;">}</span>
</pre>
            </div>
          </section>
        </section>
        <section>
          <section id="slide-8">
            <h2 id="8"><span class="section-number-2">8</span> 函数</h2>
          </section>
        </section>
        <section>
          <section id="slide-9">
            <h2 id="9"><span class="section-number-2">9</span> 结构体</h2>
          </section>
        </section>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/reveal.js@3/lib/js/head.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/reveal.js@3/js/reveal.js"></script>
    <script>
      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: false,
        center: true,
        slideNumber: "c",
        rollingLinks: false,
        keyboard: true,
        mouseWheel: false,
        fragmentInURL: false,
        hashOneBasedIndex: false,
        pdfSeparateFragments: true,

        overview: true,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || "convex", // see README of reveal.js for options
        transitionSpeed: "default",

        // Optional libraries used to extend reveal.js
        dependencies: [
          {
            src:
              "https://cdn.jsdelivr.net/npm/reveal.js@3/plugin/markdown/marked.js",
            condition: function() {
              return !!document.querySelector("[data-markdown]");
            }
          },
          {
            src:
              "https://cdn.jsdelivr.net/npm/reveal.js@3/plugin/markdown/markdown.js",
            condition: function() {
              return !!document.querySelector("[data-markdown]");
            }
          },
          {
            src:
              "https://cdn.jsdelivr.net/npm/reveal.js@3/plugin/notes/notes.js",
            async: true,
            condition: function() {
              return !!document.body.classList;
            }
          },
          {
            src:
              "https://cdn.jsdelivr.net/npm/reveal.js@3/plugin/search/search.js",
            async: true,
            condition: function() {
              return !!document.body.classList;
            }
          },
          {
            src:
              "https://cdn.jsdelivr.net/npm/reveal.js@3/plugin/zoom-js/zoom.js",
            async: true,
            condition: function() {
              return !!document.body.classList;
            }
          }
        ]
      });
    </script>
  </body>
</html>
