[submodule "view/xiaolin"]
	path = view/xiaolin
	url = https://github.com/shi-rui/xiaolin.git
[submodule "view/hitword"]
	path = view/hitword
	url = https://github.com/shi-rui/hitword.git
[submodule "view/examSystem"]
	path = view/examsystem
	url = https://github.com/lampze/examSystem
