<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
  </head>
  <body>
    <p>tesseract必须托管到服务器，本地双击打开不能使用文字提取</p>
    <input type="file" />
    <img src="" />
  </body>
  <!-- tesseract导入 -->
  <script src="https://unpkg.com/tesseract.js@v2.0.0-beta.1/dist/tesseract.min.js"></script>
  <script>
    /* 传入一个图片或地址直接输出文字，直接alert，提取文字要个2-3秒 */
    function tes(url) {
      Tesseract.recognize(url, "chi_sim", {
        logger: m => console.log(m)
      }).then(({ data: { text } }) => {
        alert(text);
      });
    }

    /* 以下是获取图片的代码 */
    var input = document.querySelector("input");

    input.onchange = function() {
      var file = input.files[0];
      var reader = new FileReader();

      reader.readAsDataURL(file);

      reader.onload = function() {
        document.querySelector("img").src = reader.result;
        /* 图片加载后传入tes函数 */
        tes(document.querySelector("img"));
      };
    };
  </script>
</html>
